<img src="assets/image.png">
<div [style.background-image]="'url(assets/image.png)'" class="background-img"></div>

<form id="form">
    <img src="assets/logo.png" id="logo">
    <p id="welcome">Welcome back!</p>
    <p id="login">Login to your account</p>


    <p id="name">Name</p>
    <input type="text" id="nameTextField" name="n-TextField">

    <p id="email">E-mail</p>
    <input type="email" id="emailTextField" name="e-TextField">
    <p id="pass">Password</p>
    <input type="password" id="passTextField" name="p-TextField">

    <button type="button" id="loginBtn">Register</button>
    <button type="button" id="registerBtn">Login</button>

</form>