<div class="header">
    <img src="assets/logo.png" alt="Logo">
    <form>
        <input type="text" placeholder="Search">

    </form>
    <div class="icons">
        <img src="assets/person.png" alt="icon">
        <img src="assets/fav.png" alt="icon">
        <img src="assets/cart.png" alt="Logo">
        <!-- <mat-icon color="black" svgIcon="person" id="personicon"></mat-icon>
        <mat-icon color="black" svgIcon="favorite"></mat-icon>
        <mat-icon color="black" svgIcon="shopping_cart"></mat-icon> -->
    </div>

</div>


<div class="categories">

    <h2>Best Sellers</h2>
    <div class="books">
        <div class="book" routerLink="/bookdetail">
            <img src="assets/book1.png" alt="Book 1">
            <h3>Dune</h3>
            <p>Frank Herbert</p>
            <p id="price">87.5$</p>
        </div>
        <div class="book">
            <img src="assets/book2.png" alt="Book 2">
            <h3>1984</h3>
            <p>George Orewell</p>
            <p id="price">35.75$</p>
        </div>
        <div class="book">
            <img src="assets/book3.png" alt="Book 3">
            <h3>Ikigai</h3>
            <p>Hector Garcia</p>
            <p id="price">36$</p>
        </div>
        <div class="book">
            <img src="assets/book4.png" alt="Book 4">
            <h3>Metafizik</h3>
            <p>Aristoteles</p>
            <p id="price">36$</p>

        </div>
    </div>



    <div class="books">
        <div class="book">
            <img src="assets/book5.png" alt="Book 5">
            <h3>Romeo ve Jukiet</h3>
            <p>Wiliam Shakespeare</p>
            <p id="price">87.75$</p>
        </div>
        <div class="book">
            <img src="assets/book6.png" alt="Book 6">
            <h3>Olaganustu Bir Gece</h3>
            <p>Stefan Zweig</p>
            <p id="price">35.75$</p>
        </div>
        <div class="book">
            <img src="assets/book7.png" alt="Book 7">
            <h3>Genc Werther'in Acilari</h3>
            <p>Goethe</p>
            <p id="price">36$</p>
        </div>
        <div class="book">
            <img src="assets/book8.png" alt="Book 8">
            <h3>Zaman Makinesi</h3>
            <p>H.G. Wells</p>
            <p id="price">36$</p>
        </div>
    </div>