<img src="assets/image.png">
<div [style.background-image]="'url(assets/image.png)'" class="background-img"></div>

<form [formGroup]="form" (ngSubmit)="onSubmit(rememberMe)">
    <img src="assets/logo.png" id="logo">
    <p id="welcome">Welcome back!</p>
    <p id="login">Login to your account</p>

    <div class="form-group">
        <label for="emailTextField" id="email">E-mail</label>
        <input type="email" class="form-control" id="emailTextField" formControlName="email">
        <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="text-danger">
            Please enter a valid email address
        </div>
    </div>

    <div class="form-group">
        <label for="passTextField" id="pass">Password</label>
        <input type="password" class="form-control" id="passTextField" formControlName="password">
        <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched" class="text-danger">
            Password must be between 6-20 characters and contain at least one uppercase letter
        </div>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" id="rememberMe" name="rememberMe" value="rememberMe" #rememberMe>
        <label class="form-check-label" for="rememberMe" id="labelRememberMe">Remember Me</label>
    </div>

    <button type="submit" class="btn btn-primary" id="loginBtn" [disabled]="form.invalid">Login</button>

    <button type="button" class="btn btn-secondary" id="registerBtn" (click)="navigateToRegister()">Register</button>

</form>