<img src="assets/image.png">
<div [style.background-image]="'url(assets/image.png)'" class="background-img"></div>

<form id="form">
    <img src="assets/logo.png" id="logo">
    <p id="welcome">Welcome back!</p>
    <p id="login">Login to your account</p>


    <p id="email">E-mail</p>
    <input type="email" id="emailTextField" name="e-TextField">
    <p id="pass">Password</p>
    <input type="password" id="passTextField" name="p-TextField">
    <input type="checkbox" id="rememberMe" name="rMe" value="RMe">
    <label for="rMe" id="label">Rememeber Me</label>
    <button type="button" id="loginBtn">Login</button>
    <button type="button" id="registerBtn">Register</button>

</form>